/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the entire page */
body {
    font-family: Arial, sans-serif;
    background-image: url("/static/photos/background_img_videocall.jpg");
    background-repeat: cover;
    background-color: #f0f0f0;
    text-align: center;
}

/* Header styling */
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}

/* Main content styling */
.first {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

/* Control buttons styling */
.first button[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.first button[type="button"]:hover {
    background-color: #0056b3;
}

/* Form styling */
.first label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.first input[type="email"],
.first input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Footer styling */
footer {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
